body {
    background-color: #CBE4DE
}
hr {
    border-color: #146C94;;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
h3 {color: #2E4F4F;}
h1 {color: #0E8388;}